body{
    margin: 0px;
    background-color: #ecedf1;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}


#bannerPrincial {
    width: 100%;
    height: 90vh;
    background-image: url(./assets/img/banner_1.jpg);
    background-size:contain; 
    background-repeat: no-repeat; 
    
    
    
}
.btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 35px;
    margin-top: 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1977cc;
}
.section-titulo{

    text-align: center;
    padding: 30px;
}
.textDicas{
    text-align: center;
    padding: 20px;
}
