body{
    margin: 0px;
    background-color: #ecedf1;
}
*{
    box-sizing: border-box;
}

.itemMenu{
    float: right;
}
.iconeMenu{
    float: left;
}
.iconeMenu2{
    width: 80px;
    padding-left: 5px;
    padding-top: 2px;    
}

.itemMenu a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.itemMenu:hover{
    background-color: #077051;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008b8b;
  }
#bannerPrincial {
    width: 100%;
    height: 90vh;
    background-image: url(../assets/img/banner_1.jpg);
    background-size: cover;
    
    
    
}
.btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}


 .bannerBackgroud{
    
    width: 100%;
    height: 600px
}


